.nav{
    background-color: rgba(255, 255, 255, 0.4);
}


/* unvisited link */
.nav-item .navbar-brand a:link {
    text-decoration: none;
    color: purple !important;
}

/* visited link */
.nav-item .navbar-brand a:visited {
    text-decoration: none;
    color: rgb(72, 77, 79) !important;
}

/* mouse over link */
.nav-item .navbar-brand a:hover {
    text-decoration: none;
    color: rgb(19, 80, 126)!important;
}

/* selected link */
.nav-item .active, .navbar-brand .active {
    text-decoration: none;
    color: rgb(72, 77, 79) !important;
    font-weight: bold !important;
}
