.user-form {
    margin: 1rem;
    border: 0;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
    color: white
}

.input-bar {
    margin-bottom: 1rem;
}

h2 {
    color: white
}